# Server configuration
PORT=5000
JWT_SECRET=rbms_secret_session_token_key_123

# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Na150107
DB_NAME=resource_booking_db

# Email configuration (Nodemailer SMTP)
EMAIL_USER=donnaveeng@gmail.com
EMAIL_PASS=ytjh lwlj pqbn timj
